# generc file-types
**.ko
**.so
**.ko.cmd
**.mod.c
**.o
**.o.cmd
**.swp
**.sym
**.ver
**.tmp
**.a

# Dependency files
**.d
**.d.*

# generic files
**/.tmp_versions/
**/modules.order
config.mk
src/lcec_conf
src/Module.symvers

# debian pkgbuild files
debian/.debhelper/
debian/files
debian/*.log
debian/*.substvars
debian/linuxcnc-ethercat/

# Binaries
scripts/devicetable/devicetable
scripts/devicelist/devicelist
scripts/deviceequivs/deviceequivs

# emacs tmp files
\#*\#
.\#*
*~
