Source: linuxcnc-ethercat
Section: unknown
Priority: extra
Maintainer: linuxcnc <linuxcnc@localhost.localdomain>
Build-Depends: debhelper (>= 8.0.0), linuxcnc-dev, etherlabmaster-dev
Standards-Version: 3.9.3

Package: linuxcnc-ethercat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, linuxcnc, etherlabmaster
Description: LinuxCNC EtherCAT HAL driver
